.elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-title, .elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-title:before, .elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-title:after, .elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-content, .elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tabs-content-wrapper{border-width:0px;}.elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-desktop-title.elementor-active{background-color:#FFFFFF;}.elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tabs-content-wrapper{background-color:#FFFFFF;}.elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-title, .elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-title a{color:#2E3A47;}.elementor-496 .elementor-element.elementor-element-1a68270 .elementor-tab-title.elementor-active a{color:#FFFFFF;}:root{--page-title-display:none;}/* Start custom CSS for tabs, class: .elementor-element-1a68270 */.elementor-widget-tabs .elementor-tab-desktop-title.elementor-active{
        background-color: #2E3A47 !important;
}
.elementor-widget-tabs .elementor-tabs-wrapper {
    overflow: hidden;
    margin: 0 auto;
    display: block;
    position: relative;
    width: fit-content;
}
.elementor-tab-mobile-title {
    display: none;
}/* End custom CSS */